*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-size: repeat;
    padding: 2%;
}

header > img{
    width: 10%;
}