*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-size: repeat;
    height: 13vh;
}

header > img{
    margin: 2% 0 0 10%;
    width: 15%;
}

main{
    width: 80%;
    margin: auto;
}

.autore{
    margin-bottom: 1%;
}

.autore > h1{
    font-size: 5em;
}

.booleaner{
    font-size: 2em;
}

p > span{
    color:#4EA0FF
}

.data{
    font-size: 1em;
}

.foto > img{
    height: 500px;
    width: 49%;
    object-fit: cover;
}

.tim > p{
    margin-top: 1%;
    font-size: 1.5em;
}

.testo > p {
    margin: 1% 0;
    font-size: 1.5em;
}

.testo > ul{
    margin-bottom: 2%;
    margin-left: 1%;
    font-size: 1.5em;
}

table{
    font-size: 1.5em;
    text-align: left;
    border-spacing: 0;
    margin-bottom: 2%;
}

thead{
    background-color: #20A9E5;
}

.fix{
    width: 15vw;
}

.prima{
    background-color:#B1E5F2;
}

.terza{
    background-color: #B1E5F2;
}

section > p{
    font-size: 1.5em;
}

footer{
    width: 80%;
    margin: auto;
}

h2{
 margin:2% 0;
 font-size: 2em; 
}

.monitor{
    width: 500px;
    height: 400px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin-bottom: 1%;
}

.monitor > h4{
    color: white;
    font-size: 1.5em;
}

.graph{
    width: 500px;
    height: 400px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

.graph > h4{
    color:white;
    font-size: 1.5em;
}